body {
	margin: 0;
	padding: 0;
}

.content{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

canvas{
    position: relative;
    top: 160px;
    left: 285px;
    border-radius: 8%;
}

.title{
    text-align: center;
    font-size: 100px;
    font-family: 'Press Start 2P', cursive;
    margin-block-end: 0.3em;
}

#start-container{
    width: 520px;
    height: 380px;
    border: 10px solid black;
    background-color: black;
    padding: 50px 50px 50px 50px;
    margin: 160px 290px;
    border-radius: 5%;
    text-align: center;
}
#end-container{
    display: none;
    width: 520px;
    height: 380px;
    border: 10px solid black;
    background-color: black;
    padding: 50px 50px 50px 50px;
    margin: 160px 290px;
    border-radius: 5%;
    text-align: center;
}

#score-container{
    font-family:'Press Start 2P', cursive;
    display: block;
    width: 520px;
    height: 380px;
    border: 10px solid black;
    background-color: black;
    border-style: double;
    border-color: #FFFFFF;
    padding: 50px 50px 50px 50px;
    margin: 160px 290px;
    border-radius: 5%;
    text-align: center;
}

#settings-container{
    font-family:'Press Start 2P', cursive;
    display: none;
    width: 520px;
    height: 380px;
    border: 10px solid black;
    background-color: black;
    padding: 50px 50px 50px 50px;
    margin: 160px 290px;
    border-radius: 5%;
    text-align: center;
}

#start-form{
    font-family:'Press Start 2P', cursive;
}

/* input */
input{
    width: 25%;
    border-radius: 10%;
    text-align: center;
}

input[type=submit]{
    text-align: center;
    background-color: white;
    width: 8em;
    height: 6em;
    border-radius: 0%;
    font-family:'Press Start 2P', cursive;
}

input[type=radio]{
    color: white;
}

.option-button{
    text-align: center;
    background-color: white;
    width: 9em;
    height: 3.5em;
    border-radius: 0%;
    font-family:'Press Start 2P', cursive;
}

#score-list {
    /* display: inline-block; */
    width: 100%;
    height: 75%;
    margin-block-end: 0em;
    /* float: left; */
    text-align: center;
}

li {
    padding: 2px;
    margin: 2.5px;
    font-size: 75%;
    text-align: left;
    margin-block-end: 0em;
}

#back-button {
    margin-bottom: 300px;
}

.radioLabels{
    font-size: 10px;
}

#ballSizeContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:left;
}

#paddleSizeContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:left;
}

#difficultyContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:left;
    padding-left: 15px;
}

#ballColorListContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:right;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 400px;
}

#paddleColorListContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:right;
    padding-left: 15px;
    margin-top: -50px;
    margin-right: 280px;
}
#backgroundColorListContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:right;
    padding-left: 15px;
    margin-top: -50px;
    margin-right: 130px;
}
#netColorListContainer{
    font-size: 15px;
    width: 25%;
    text-align: right;
    float:right;
    padding-left: 15px;
    margin-top: -50px;
    margin-right: 0px;
}


#saveButtonContainer{
    display:block;
    text-align: center;
    margin-top: 300px;

}

